<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="dbIp" value="localhost"/>
		<add key="dbName" value="ANAData"/>
		<add key="dbUser" value="rpi"/>
		<add key="dbPass" value="hybrazil10"/>
		<add key="brokerip" value="192.168.85.118"/>
		<add key ="brokerUserName" value="hybrazil"/>
		<add key ="brokerPass" value="Cor.0011125C51000"/>
		<add key="modbusip" value="192.168.85.15"/>
		<add key ="dbPath" value="C:\\correio\\"/>
		<add key ="dbFileName" value="dbdata.csv"/>
		<add key ="stationName" value="RpiFonseca"/>
	</appSettings>
</configuration>